<!DOCTYPE html>
<html>
<head>
	<title>Pedula.net</title>
</head>
<body>
	<button type="button" class="btn btn-primary btn-lg btn-block"><h2>Cadastro</h2></button>
</body>
</html>

<%= render 'form' %>

<%= link_to 'Back', rooms_path %>

